{{define "content"}}
<div class="dojohub-content-section">
  <div class="dojohub-section-title mdl-typography--display-1-color-contrast">
    What's New
  </div>
  <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
    <div class="dojohub-card-container mdl-card__media">
      <img src=/static/images/dojohub-msg-hub.png>
    </div>
    <div class="dojohub-card-container mdl-card__title">
       <h4 class="mdl-card__title-text">Coming soon...</h4>
    </div>
    <div class="mdl-card__supporting-text">
      <span class="mdl-typography--font-light mdl-typography--subhead">To the LPTC CoderDojo, a collaborative activity in which ninjas are going to build multi-clients applications</span>
    </div>
    <div class="mdl-card__actions">
       <a class="dojohub-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="https://docs.google.com/document/d/17x6R62yy_1hFoR_GNmLNncAGVjWdSWQJzGX7p8BWtkI/edit">
         Learn More
         <i class="material-icons">chevron_right</i>
       </a>
    </div>
  </div>
</div>
{{end}}
