{{define "nav_drawer"}}
<nav class="mdl-navigation">
  <a class="mdl-navigation__link" href="#"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">home</i>Home</a>
  <a class="mdl-navigation__link" href="/example/chat/">Examples</a>
  <a class="mdl-navigation__link" href="">Projects</a>

  <div class="dojohub-drawer-separator"></div>

  <span class="mdl-navigation__link" href="">Resources</span>
  <a class="mdl-navigation__link" href="http://github.com/spastorelli/dojohub/">DojoHub Source</a>
  <a class="mdl-navigation__link" href="http://lptcdojo.com">Dojo Website</a>
</nav>
{{end}}
